.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 10px;
  border: 2px double gray;
  box-shadow: 0px -2px 15px 0px inset gray;
  border-radius: 16px;
  width: 60%;
  height: 400px;
  margin: 0 auto;
}
.innerCont {
  width: 200px;
  aspect-ratio: 1/1;
}
