.card {
  margin: auto;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  /* max-width: var(--card-template-width); */
  margin: 0 auto;
  gap: 10px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cartButton {
  width: 100%;
}

.coverImage {
  object-fit: cover;
  height: 200px;
}

.tags {
  margin: 10px 0;
}
