.cardDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  max-width: var(--card-template-width);
  margin: 0 auto;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.favoriteButton,
.cartButton {
  width: 48%;
}

.coverImage {
  object-fit: cover;
  height: 200px;
}

.tags {
  margin-bottom: 10px;
}
