.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  /* will-change: background-image;
  background-image: url("../../assets/green-bckg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background: linear-gradient(
    135deg,
    var(--primary-green),
    var(--accent-color)
  );
  position: relative;
  /* isolation: isolate; */
}
